extends layout.pug 

block main
   section.container
        center 
            h1(style={'margin-bottom': '50px'}) Santiago Nariño Cardenas.
        p Este porfalio tiene la intencion de presentar una breve descripcion acerca de mis habilidades y experiencias 
        br
        p Para la elaboracion de esta pagina se implemento node.js,express.js y pug.js, bsada bajo el mismo lenguaje de proogramacion JavaScript
        br
        p gracias