extends layout.pug 

block main
   section.container
        center 
            h1(style={'margin-bottom': '50px'}) Habilidades Blandas
        h3(style={'margin-bottom': '50px'}) Cuento con diferentes habilidades blandas como:
            h4
                ul 
                    li Paciencia
                    li Trabajo en equipo
                    li Flexibilidad en el trabajo
                    li Capacidad de resolucion de problemas  
                    li Comunicacion  