extends layout.pug 

block main
    section.container
        center 
            h1(style={'margin-bottom': '50px'}) Estudios
            br
            h2(style={'margin-bottom': '50px'}) Estudios Superiores:
            p Realizo mis estudios en el politecnico internacional en la carrera de desarrolo de software y aplicaciones moviles.
            br
            h2(style={'margin-bottom': '50px'}) Cursos y adicionales:
            p Mis estudios los complemento con cursos libres online.
            p Cuento con un curso certificado de coursera en desarrollo web con javaScript y estoy realizando un curso de React.js en Udemy.