extends layout.pug 

block main
    section(style={width: '60%'}).container 
        h1(style={'margin-bottom': '50px'}) Formulario
        form(action="/respuesta" method="POST")
            legend Formulario de contacto
                div.form-group
                   label(for="nom").form-label.mt-4 Nombre 
                   input#nom(type="text", name="nom", placeholder="Ingrese su nombre").form-control
                div.form-group
                   label(for="ap").form-label.mt-4 Apellido 
                   input#ap(type="text", name="ap", placeholder="Ingrese su apellido").form-control
                div.form-group
                   label(for="email").form-label.mt-4 Email 
                   input#email(type="email",name="email",  aria-describedby="emailHelp", placeholder="Ingrese su email").form-control
                   br
                   input(type="submit" value="Enviar").btn.btn-primary
