extends layout.pug 

block main
   section.container
        center 
            h1(style={'margin-bottom': '50px'}) Habilidades Profesionales
        h3(style={'margin-bottom': '50px'}) Las habilidades profesionales que poseo estan enfocadas a las ciencias de la tecnologia:
            h4
                ul 
                    li Desarrollo web
                        p Desarro en: HTML,CSS,JavaScript,Java,C#.
                        p Frameworks: ASP.NET, Boostrap, Entity.
                    li Conocimientos en node.js, jsp, jsf.
                    li Bases de datos: 
                        p MySQL, SQLServer, Oracle,
                    li Desarrollo de aplicaciones de escritorio 
                        p Desarrillo en: Java, C#.  
                    li Desarrollo movil 
                        p Desarrollo en: Ionic Framework con typescript 