extends layout.pug 

block main
    section.container
        center 
            h1(style={'margin-bottom': '50px'}) Experiencia laboral
            br
            p He trabajado en varios proyectos de desarrollo web, como en la cerveceria "La Milagrosa", Donde se implemento un pagina web para mostrar los productos de la empresa y atraer nuevos clientes. 
            p Tambien he trabajado en varios proyectos en forma de aprendiz como: aplicaciones moviles, aplicaciones de escritorio y desarrollo web, para obtener experiencia.
            br
            p Fuera del campo laboral mencionado antes, cuento co experiencia en ventas y atencion al cliente.